body{
  background: #ceddf1;
  border-bottom: 5px solid black;
  min-width: 840px;
  height: 100%;
}

.fluid-container{
  height: inherit;
}

.row{
  height:inherit;
}

.title{
  position: relative;
  height: 12em;
}

#title-offset{
  position: relative;
  margin-top: 2.5em;
}

.title img{
  height: 8em;
  margin-left: 1em;
  display: inline-block;;
}

.title h1{
  font-size: 3em;
  display: inline;
  vertical-align: middle;
}

.title span{
  vertical-align: middle;
  display: inline;
  height: 8em;
}

.navmenu{
  background-color:#909090;
  height:100%;
  border-left: 2px solid black;
  max-width: 300px;
  float:right;
}

.navmenu ul {
  margin-top: 1em;
  padding-left: 5px;
  list-style: none;
}

.navmenu a{
  text-decoration: none;
  color:#1a5276;
}


.bar-row{
  background-color:#759fd8;
  height: 6em;
  border: 2px solid gray;
  border-radius: 5px;
  width:100%;
}

.bar-row p, .bar-row h2{
  padding-top: 1em;
  padding-left: 1em;
}

.section{
  margin-right: 0;
  padding-right: 0;
  /*height:100vh;*/
  height:100%;
  min-height: 200px;
}

.body-content{
/*  max-height: 100vh;*/
  min-height: 200px;
  height: 100%;
}

.body-content img{
  display: block;
  height: 20%;
  margin: 0 auto;
  margin-top: 10px;
}

.body-content p{
  margin-top: 10px;
}

.centered-paragraph{
  text-align: center;
}

#tumblr-holder{
  overflow-y: scroll;
  border-right: 1px solid black;
  padding-left: 2em;
  background-image: url("image-media/shutterstock_tilable_background.png");
  background-repeat: repeat;
  background-size: 20%;
  background-attachment: local;
  overflow: hidden;
}

#tumblr-holder:hover{
  overflow-y: scroll;
}

#tumblr-holder p{
  background-color: #2a9ee8;
  border: 1px solid black;
  margin: 4px;
  display: inline-block;
  font-weight: bold;
}

#tumblr-holder p p{
  border: none;
}

#tumblr-holder img{
  border: 2px solid black;
  height: auto;
  margin: auto;
}

.expandable-list .dropdown{
  background: gray;
}

.expandable-list .dropdown-menu {
  background:gray;
  margin-top: 0;
}

.expandable-list .dropdown:first-of-type{
  margin-top: 5px;
}
