body{
  background: #ceddf1;
  border-bottom: 5px solid black;
}

.fluid-container{
  height: inherit;
}

.row{
  height:inherit;
}

.title{
  height: 12em;
  min-width: 20em;
}

#title-offset{
  position: absolute;
  margin-top: 2.5em;
}

.title img{
  height:5em;
  width: 6em;
  padding-left: 1em;
  display: inline-block;
}

.title h1{
  font-size: 3em;
  display: inline-block;
}
.navmenu{
  background-color:#909090;
  height:inherit;
  border-left: 2px solid black;
  max-width: 300px;
  float:right;
}

.navmenu ul {
  margin-top: 1em;
  padding-left: 20;
}

.navmenu a{
  text-decoration: none;
  color:#1a5276;
}

.bar-row{
  background-color:#759fd8;
  height: 6em;
  border: 2px solid gray;
  border-radius: 5px;
}

.bar-row p, .bar-row h2{
  padding-top: 1em;
  padding-left: 1em;
}

.section{
  margin-right: 0;
  padding-right: 0;
  height:100vh;
  min-height: 200px;
}

#tumblr-holder{
  max-height: 100vh;
  min-height: 200px;
  overflow-y: scroll;
  border-right: 1px solid black;
  padding-left: 2em;
}
